body {
	background-color: #e3e3e3;
}

#Osnowa {
	background-color: white;
	padding-bottom:	2000px;
}

#Zagolowok {
	margin-top: 20px;
	margin-bottom: 30px;
}

#text_osnowa {
	padding-bottom: 200px;
	border-radius: 15px; 
	background-color: #e3e3e3;
	box-shadow: 0px 20px #cdcdcd;
}

#Podzag {
	margin-top: 100px;
}

#img_1 {
	transition:  0.5s;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 20px;
}

#img_1:hover {
	box-shadow: 2px 2px 8px 8px #C4C4C4;
}

#img_2 {
	transition:  0.5s;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 20px;
}

#img_2:hover {
	box-shadow: 2px 2px 8px 8px #C4C4C4;
}
